.App {
  background-color: rgba(95, 2, 154, 0.789);
  color: white;
  font-family: sans-serif;
}

h1 {
  font-family: Arial, sans-serif; 
  font-size: 36px; 
  color:rgb(10, 255, 243); 
}


.login-btn {
  background-color: #4CAF50;
  color: #ffffff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.login-btn:hover {
  background-color: #3e8e41; 
}